on:
  push:
    branches: [ main ]
  pull_request: { }

permissions:
  contents: read

jobs:
  required-meta:
    permissions:
      contents: read
      checks: write
      pull-requests: write
    uses: BlindfoldedSurgery/actions-meta/.github/workflows/required.yml@v2

  check:
    if: github.event_name == 'pull_request'
    permissions:
      contents: read
      pull-requests: write
    uses: BlindfoldedSurgery/actions-releases/.github/workflows/commitizen-check.yml@v5
    with:
      build-tool: uv
      python-version: '3.14'

  build-container-image:
    if: github.event_name == 'pull_request'
    uses: BjoernPetersen/actions-container/.github/workflows/build-dual-image-buildah.yml@v7
    permissions:
      contents: read
      packages: read
    with:
      image-name: helm
      push-image: false

  post-build-container-image:
    runs-on: ubuntu-24.04
    if: github.event_name == 'pull_request'
    needs: build-container-image
    steps:
      - run: echo "All images built"

  bump:
    uses: BlindfoldedSurgery/actions-releases/.github/workflows/commitizen-bump.yml@v5
    permissions:
      contents: write
      pull-requests: write
    secrets:
      GH_TOKEN: ${{ secrets.GH_PR_TOKEN }}
    with:
      build-tool: uv
      python-version: '3.14'

  push-container-image:
    if: needs.bump.outputs.bumped == 'true' && github.ref_name == github.event.repository.default_branch
    needs: bump
    uses: BjoernPetersen/actions-container/.github/workflows/build-dual-image-buildah.yml@v7
    permissions:
      contents: read
      packages: write
    with:
      image-name: helm
      push-image: true
      version: ${{ needs.bump.outputs.version }}
